@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --dark-mode: "class";
  --color-card: light-dark(#ffffff, #1f2937);
  --color-card-foreground: light-dark(#171717, #f9fafb);
  --color-muted: light-dark(#f8fafc, #374151);
  --color-muted-foreground: light-dark(#64748b, #9ca3af);
  --color-border: light-dark(#e2e8f0, #4b5563);
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
